.env
.venv
data
chroma_db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.env/
.envrc
.venv.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.cache/
.pytest_cache/

# PyCharm
.idea/

# Logs
*.log

# Unit test / coverage / reports
junitxml*.xml
test-results/

# Sphinx documentation
docs/_build/

# Bandit security scanner
bandit.yaml

# Local config
*.env.local
*.env.dev
.DS_Store
assignment.md
dump
